html, body{
  background-color: rgb(211, 227, 231);
  padding: 0% 6%;
}

h1, h2, h3, h4 {
  font-family: 'Averia Serif Libre', cursive;
  font-weight: 400;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav#horz1 {
  background-color: rgb(50, 61, 214);
  border-radius: 2px;
  display: block;
}

nav#horz1 ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
 overflow: hidden; 
 text-align: center;
}

nav#horz1 ul li {
  padding-left: 20px;
  display: inline-block;
}

nav#horz1 ul li a {
  display: block;
  background-color: rgb(50, 61, 214);
  color : #fff;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 10px 0px 8px 0px;
  border-radius: 0px;
  font-family: 'Averia Serif Libre', cursive;
  font-weight: 500;

}

nav#horz1 ul li a:hover {
  background-color: #fff;
  color: rgb(50, 61, 214);
  text-transform: capitalize;
}

#floatleft {
  float: left;
}
#floatright {
  float: right;
}

.firstchar {
  color:red;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  top:4px;
}

.row{
  display: flex;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

h3.video{
  text-align: center;
}

.container{
  text-align: center;
  margin: auto;
}

.container.frame{
  display: block;
}
